@import "../sass/grid";

main {
  padding-top: 3rem;
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .section-title {
    color: #464646;
    font-weight: 400;
    font-size: 1.3rem;
    margin-left: 3rem;
    margin-bottom: 0.5rem;
  }

  .create-note-section {
    height: 18rem;
    width: 100%;
  }
}
